@font-face {
  font-family: "ComicNeue-Bold";
  src: url("./assets/fonts/ComicNeue-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ComicNeue-Italic";
  src: url("./assets/fonts/ComicNeue-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "ComicNeue-Light";
  src: url("./assets/fonts/ComicNeue-Light.ttf") format("truetype");
}
@font-face {
  font-family: "ComicNeue";
  src: url("./assets/fonts/ComicNeue-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ComicNeue", sans-serif;
}
